<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="stylesPro.css">
</head>
<body>
    <header style="display: inline-block; width:100%;">
        <h1 style="display: inline-block;">Products</h1>
        <form action="/search" method="POST" style="display: inline-block; margin-left:20%" class="search-container">
            <input name="name" type="text" id="searchInput" placeholder="Search by product name">
            <button id="search" type="submit">Search</button>
        </form>
        
        <% if (isLoggedIn) { %>
            <form action="/logout" method="POST" style="display: inline-block;">
                <button id="logout"   type="submit">Logout</button>
            </form>
        <% } %>
    </header>

    <div class="container">
        <% products.forEach(product => { %>
            <a href="/product/<%=product.id%>">
                <div class="card">
                    <img src="<%= product.image %>" alt="<%= product.name %>" class="product-image">
                    <div class="product-details">
                        <h2><%= product.name %></h2>
                        <p class="company"><strong>Company:</strong> <%= product.company %></p>
                        <p class="price"><strong>Price:</strong> <%= product.price %></p>
                        <p class="category"><strong>Category:</strong> <%= product.category %></p>
                        <% if (product.featured) { %>
                            <p class="featured"><strong>Featured:</strong> Yes</p>
                        <% } else { %>
                            <p class="featured"><strong>Featured:</strong> No</p>
                        <% } %>
                        <% if (product.shipping) { %>
                            <p class="shipping"><strong>Shipping:</strong> Yes</p>
                        <% } else { %>
                            <p class="shipping"><strong>Shipping:</strong> No</p>
                        <% } %>
                    </div>
                </div>
            </a>
        <% }); %>
    </div>
</body>
</html>
